/* Gör så footern håller sig på plats */
html, body, #root {
  height: 100%;
}
/* Gör så footern håller sig på plats */
body, #root {
  display: flex;
  flex-direction: column;
}
/* Gör så footern håller sig på plats */
#root > .App {
  flex-grow: 1;
}

/* Ändrar titelns egenskaper på popupen */
.swal2-title {
  font-size: 2.5em;
  font-weight: bold;
  color: black;
  font-family: "Roboto";
}

/* Ändrar textens egenskaper på popupen*/
.swal2-content {
  font-size: 1.5em;
  color: black;
  font-family: "Roboto";
}

/* Ändrar egenskaper på knappen om mailet skickas iväg */
.swal2-confirm {
  margin-left: 10px !important;
  padding: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border: 1px solid black !important;
  text-align: center !important;
  border-radius: 20px !important;
  background-color: #1f71d0 !important; /* primary color from theme */
  color: black !important;
  text-decoration: none !important;
  font-size: 1em !important; /* button font size from theme */
  font-family: "Roboto" !important;
}

/* Ändrar egenskeper på kanppen om mailet inte skickas */
.swal2-cancel {
  margin-left: 10px !important;
  padding: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border: 1px solid black !important;
  text-align: center !important;
  border-radius: 20px !important;
  background-color: #e30d16 !important; /* error color from theme */
  color: black !important;
  text-decoration: none !important;
  font-size: 1em !important; /* button font size from theme */
  font-family: "Roboto" !important;
}