 /* Ändrar titelns egenskaper på popupen */
  .swal2-title {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    font-family: Roboto;
  }

  /* Ändrar textens egenskaper på popupen*/
  .swal2-content {
    font-size: 1.5em;
    color: black;
    font-family: "Roboto";
  }

  /* Ändrar egenskaper på knappen om mailet skickas iväg */
  .swal2-confirm {
    margin-left: 10px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px solid black !important;
    text-align: center !important;
    border-radius: 20px !important;
    background-color: #fdcc12 !important;
    color: black !important;
    text-decoration: none !important;
    font-size: 1.5em !important;
    color: black !important;
    font-family: "Roboto" !important;
  }

  /* Ändrar egenskeper på kanppen om mailet inte skickas */
  .swal2-cancel {
    margin-left: 10px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px solid black !important;
    text-align: center !important;
    border-radius: 20px !important;
    background-color: #fdcc12 !important;
    color: black !important;
    text-decoration: none !important;
    font-size: 1.5em !important;
    color: black !important;
    font-family: "Roboto" !important;

  }
